<header class="site-header sticky-top py-3 bg-light">
    <div class="container d-flex flex-column flex-md-row align-items-center">
        <a class="d-flex align-items-center text-danger text-decoration-none me-3" routerLink="/home">
            <span class="fs-4">Super-Hotel.fr</span>
        </a>
        <nav class="d-flex flex-column flex-md-row justify-content-center">
            <a class="px-4 d-none d-md-inline-block text-danger text-decoration-none" routerLink="/hotels">Hotels</a>
        </nav>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto text-danger">
            <a class="me-3 py-2 fw-bold text-danger text-decoration-none" *ngIf="isAdmin">ADMIN</a>
            <a class="me-3 py-2 fw-bold text-danger text-decoration-none" *ngIf="isHotelier">HOTELIER</a>
            <a class="me-3 py-2 text-danger text-decoration-none" *ngIf="!isLogged">Login</a>
            <a class="btn btn-sm btn-danger me-3 py-2 text-white text-decoration-none" *ngIf="isLogged" (click)="logout()">Logout</a>
        </nav>
    </div>
</header>
  
<router-outlet></router-outlet>
  
<footer class="container d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
    <div class="d-flex align-items-center">
        <span class="text-muted">&copy; 2022 - SuperHotel.fr</span>
    </div>
</footer>
